In [1]:
import os
os.chdir('../py')

import gc

import pandas as pd
import numpy as np
import feather

from glob import glob

import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams["patch.force_edgecolor"] = False
plt.rcParams['font.family'] = 'Ricty Diminised'
sns.set(style="whitegrid", font='Ricty Diminised', palette="muted", color_codes=True, rc={'grid.linestyle': '--'})
red = sns.xkcd_rgb["light red"]
green = sns.xkcd_rgb["medium green"]
blue = sns.xkcd_rgb["denim blue"]

import japanize_matplotlib

from sklearn.cluster import KMeans
from sklearn.model_selection import KFold, StratifiedKFold, GroupKFold
from sklearn.preprocessing import LabelEncoder

# my modules
import EDA
import utils

from scipy.stats import ks_2samp

In [6]:
import super_aggre

In [58]:
train = feather.read_dataframe('../input/feather/train.ftr')
test = feather.read_dataframe('../input/feather/test.ftr')

In [59]:
# =============================================================================
# load feature
# =============================================================================
FEATURE_DIR = '../feature/'
USE_FEATURE = ['f202']
if len(USE_FEATURE) > 0:
    tr_files = []
    te_files = []
    for f in USE_FEATURE:
        tr_file   = glob(f'../feature/{f}*tr*.ftr')
        tr_files += tr_file

        te_file   = glob(f'../feature/{f}*te*.ftr')
        te_files += te_file
else:
    tr_feature_path = '../feature/*tr*.ftr'
    te_feature_path = '../feature/*te*.ftr'

    tr_files = sorted(glob(tr_feature_path))
    te_files = sorted(glob(te_feature_path))

train = pd.concat([train, *[feather.read_dataframe(f) for f in tr_files]], axis=1)
test  = pd.concat([test, *[feather.read_dataframe(f) for f in te_files]], axis=1)

In [60]:
use_cols = ['TransactionAmt', 'dist1', 'dist2', 'f202__date_block', 'card1']

drop_cols = [col for  col in test.columns if col not in use_cols]

train.drop(columns=(drop_cols + ['isFraud']), inplace=True)

test.drop(columns=drop_cols, inplace=True)

In [61]:
df = pd.concat([train, test], axis=0)

In [62]:
df['f202__date_block'].unique()

array([201712, 201801, 201802, 201803, 201804, 201805, 201806, 201807,
       201808, 201809, 201810, 201811, 201812])

In [65]:
df['date_block_num'] = df['f202__date_block'].map(dict(zip(df['f202__date_block'].unique(), range(df['f202__date_block'].nunique()))))

In [66]:
agg = df.groupby('date_block_num', as_index=False).agg({'TransactionAmt': ['min', 'mean', 'max', 'std']})

In [67]:
card_count = pd.crosstab(index=df['card1'],
                         columns=df['date_block_num'])

In [68]:
df[df['date_block_num'] == 1]['card1']

134339     9485
134340     4461
134341     3821
134342     8335
134343     7919
134344     3821
134345     2772
134346     1974
134347     3780
134348    12577
134349     6019
134350     2803
134351    18249
134352     1675
134353     4461
134354    14290
134355     9026
134356    12544
134357    12932
134358     7676
134359     7921
134360    12260
134361     3821
134362     2801
134363     7919
134364     7861
134365     9006
134366     7919
134367    10568
134368    12725
          ...
226819     6019
226820     1974
226821     6752
226822     6019
226823     5606
226824     6019
226825    10859
226826     3786
226827    18080
226828     7815
226829     3154
226830     2616
226831    14037
226832     4100
226833    15484
226834     9026
226835    16659
226836    11157
226837    15885
226838    17480
226839     5663
226840     1129
226841    11151
226842     7919
226843     2616
226844    15651
226845     7012
226846     8320
226847    11218
226848    16659
Name: card1, Length: 92510, dtype: int16

In [69]:
df['date_block_num'].max()

12

In [70]:
np.arange(1, 13)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [71]:
range(1, 12)

range(1, 12)

In [78]:
tmp = feather.read_dataframe('../feature/f103__test__ce_and_day_feature.ftr').columns

In [80]:
[col for col in tmp if 'full' in col]

['f103__card1_count_full', 'id_34_count_full', 'id_36_count_full']

In [82]:
df['date_block_num'].value_counts().sort_index()

0     134339
1      92510
2      85725
3     101968
4      83571
5      89673
6       2754
7      75731
8      76252
9      72692
10     80127
11     81707
12    120182
Name: date_block_num, dtype: int64

In [72]:
lags = [0, 1, 2, 3, 6]

for lag in lags:
    df[f'card1_counts__lag{lag}'] = np.nan
    
    for num in range(lag, 13):
        df.loc[df['date_block_num'] == num, f'card1_counts__lag{lag}'] = df[df['date_block_num'] == num]['card1'].map(card_count[num - lag])

In [28]:
num

11

In [73]:
df

,TransactionAmt,card1,dist1,dist2,f202__date_block,card1_counts__lag0,date_block_num,card1_counts__lag1,card1_counts__lag2,card1_counts__lag3,card1_counts__lag6
0,68.500000,13926,19.0,NaN,201712,7.0,0,NaN,NaN,NaN,NaN
1,29.000000,2755,NaN,NaN,201712,167.0,0,NaN,NaN,NaN,NaN
2,59.000000,4663,287.0,NaN,201712,178.0,0,NaN,NaN,NaN,NaN
3,50.000000,18132,NaN,NaN,201712,813.0,0,NaN,NaN,NaN,NaN
4,50.000000,4497,NaN,NaN,201712,2.0,0,NaN,NaN,NaN,NaN
5,49.000000,5937,36.0,NaN,201712,3.0,0,NaN,NaN,NaN,NaN
6,159.000000,12308,0.0,NaN,201712,39.0,0,NaN,NaN,NaN,NaN
7,422.500000,12695,NaN,NaN,201712,1407.0,0,NaN,NaN,NaN,NaN
8,15.000000,2803,NaN,NaN,201712,1243.0,0,NaN,NaN,NaN,NaN
9,117.000000,17399,19.0,NaN,201712,332.0,0,NaN,NaN,NaN,NaN
10,75.887001,16496,NaN,NaN,201712,2.0,0,NaN,NaN,NaN,NaN
11,16.495001,4461,NaN,30.0,201712,759.0,0,NaN,NaN,NaN,NaN
12,50.000000,3786,NaN,NaN,201712,39.0,0,NaN,NaN,NaN,NaN
13,40.000000,12866,NaN,NaN,201712,175.0,0,NaN,NaN,NaN,NaN
14,10.500000,11839,NaN,NaN,201712,408.0,0,NaN,NaN,NaN,NaN
15,57.950001,7055,3.0,NaN,201712,6.0,0,NaN,NaN,NaN,NaN
16,30.000000,1790,NaN,NaN,201712,9.0,0,NaN,NaN,NaN,NaN
17,100.000000,11492,NaN,NaN,201712,18.0,0,NaN,NaN,NaN,NaN
18,47.950001,4663,5.0,NaN,201712,178.0,0,NaN,NaN,NaN,NaN
19,186.000000,7005,NaN,NaN,201712,179.0,0,NaN,NaN,NaN,NaN
20,39.000000,7875,0.0,NaN,201712,11.0,0,NaN,NaN,NaN,NaN
21,159.949997,11401,NaN,NaN,201712,17.0,0,NaN,NaN,NaN,NaN
22,50.000000,1724,NaN,NaN,201712,739.0,0,NaN,NaN,NaN,NaN
23,107.949997,2392,4.0,NaN,201712,206.0,0,NaN,NaN,NaN,NaN
24,73.949997,10112,NaN,NaN,201712,592.0,0,NaN,NaN,NaN,NaN
25,107.949997,15385,NaN,NaN,201712,128.0,0,NaN,NaN,NaN,NaN
26,184.000000,17868,NaN,NaN,201712,139.0,0,NaN,NaN,NaN,NaN
27,47.950001,11307,17.0,NaN,201712,3.0,0,NaN,NaN,NaN,NaN
28,20.000000,8431,NaN,NaN,201712,100.0,0,NaN,NaN,NaN,NaN
29,36.990002,12932,NaN,NaN,201712,198.0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
506661,49.000000,12386,NaN,NaN,201812,8.0,12,4.0,1.0,1.0,0.0
506662,280.000000,2440,NaN,NaN,201812,1.0,12,0.0,0.0,0.0,0.0
506663,107.949997,12866,66.0,NaN,201812,90.0,12,94.0,75.0,73.0,3.0
506664,186.000000,5137,153.0,NaN,201812,11.0,12,4.0,1.0,3.0,0.0
506665,20.903000,4461,NaN,NaN,201812,1205.0,12,624.0,720.0,238.0,13.0
506666,73.000000,4702,NaN,NaN,201812,51.0,12,39.0,33.0,35.0,5.0
506667,77.000000,7690,9.0,NaN,201812,56.0,12,43.0,27.0,20.0,0.0
506668,67.949997,17399,8.0,NaN,201812,291.0,12,226.0,183.0,264.0,11.0
506669,77.000000,1675,13.0,NaN,201812,334.0,12,299.0,270.0,268.0,9.0
506670,142.018997,4461,NaN,185.0,201812,1205.0,12,624.0,720.0,238.0,13.0
506671,107.949997,10023,NaN,NaN,201812,388.0,12,306.0,300.0,312.0,22.0
506672,59.000000,1675,NaN,NaN,201812,334.0,12,299.0,270.0,268.0,9.0
506673,19.500000,5561,11.0,NaN,201812,9.0,12,3.0,4.0,2.0,0.0
506674,31.355000,16136,NaN,NaN,201812,983.0,12,704.0,695.0,252.0,8.0
506675,7.009000,2650,NaN,NaN,201812,235.0,12,134.0,202.0,61.0,1.0
506676,15.493000,18250,NaN,NaN,201812,19.0,12,7.0,14.0,22.0,1.0
506677,7.009000,15885,NaN,814.0,201812,4588.0,12,2204.0,2765.0,1236.0,31.0
506678,25.950001,7069,NaN,NaN,201812,50.0,12,64.0,41.0,38.0,4.0
506679,82.383003,2275,NaN,NaN,201812,13.0,12,7.0,5.0,1.0,0.0
506680,56.131001,5812,NaN,206.0,201812,1244.0,12,773.0,969.0,278.0,9.0
506681,10.452000,5812,NaN,NaN,201812,1244.0,12,773.0,969.0,278.0,9.0
506682,68.500000,7690,9.0,NaN,201812,56.0,12,43.0,27.0,20.0,0.0
506683,67.949997,12544,0.0,NaN,201812,1210.0,12,850.0,977.0,944.0,48.0
506684,13.403000,3154,NaN,7.0,201812,1577.0,12,896.0,975.0,352.0,10.0
506685,50.000000,9002,NaN,NaN,201812,244.0,12,162.0,119.0,146.0,13.0
506686,94.679001,13832,NaN,NaN,201812,824.0,12,472.0,510.0,263.0,10.0
506687,12.173000,3154,NaN,157.0,201812,1577.0,12,896.0,975.0,352.0,10.0
506688,49.000000,16661,NaN,NaN,201812,95.0,12,87.0,77.0,79.0,0.0
506689,202.000000,16621,NaN,NaN,201812,1.0,12,3.0,0.0,0.0,0.0
506690,24.346001,5713,NaN,NaN,201812,27.0,12,13.0,6.0,7.0,0.0

In [17]:
df['card1_count_lag1'] = np.zeros(len(df))

In [19]:
df.loc[df['date_block_num'] == 1, 'card1_count_lag1'] = df[df['date_block_num'] == 1]['card1'].map(card_count[0])

In [29]:
df.loc[df['date_block_num'] == 2, 'card1_count_lag1'] = df[df['date_block_num'] == 2]['card1'].map(card_count[1])

In [30]:
df.loc[df['date_block_num'] == 12, 'card1_count_lag1'] = df[df['date_block_num'] == 12]['card1'].map(card_count[11])

In [15]:
df[df['date_block_num'] == 1]['card1'].map(card_count[0])

134339     123
134340     759
134341     464
134342      10
134343    2698
134344     464
134345     410
134346     319
134347       3
134348     508
134349    2777
134350    1243
134351     181
134352     345
134353     759
134354     322
134355     421
134356    1340
134357     198
134358     460
134359      12
134360      94
134361     464
134362     127
134363    2698
134364     585
134365      10
134366    2698
134367     203
134368      45
          ...
226819    2777
226820     319
226821       0
226822    2777
226823     109
226824    2777
226825      48
226826      39
226827      22
226828     397
226829    1143
226830    1245
226831      78
226832      12
226833     252
226834     421
226835    1347
226836     341
226837    2633
226838     235
226839      12
226840      16
226841       6
226842    2698
226843    1245
226844     286
226845       2
226846     397
226847     158
226848    1347
Name: card1, Length: 92510, dtype: int64

In [12]:
card_count

date_block_num   0   1   2   3   4   5   6   7   8   9   10  11  12
card1
1000              0   0   1   0   0   0   0   0   0   0   0   0   0
1001              1   2   0   0   0   0   0   0   0   0   0   0   2
1002              0   0   0   0   0   0   0   0   0   0   0   0   1
1003              0   0   0   0   0   0   0   0   0   0   0   1   0
1004              2   0   0   1   0   2   0   0   0   0   0   1   2
1005              1   0   0   0   0   0   0   0   0   0   0   0   1
1006              1   0   1   0   1   0   0   1   0   0   0   0   5
1007              1   0   1   0   0   0   0   0   0   0   0   2   0
1008              0   0   2   0   0   1   0   1   0   0   0   1   1
1009              5   0   0   0   0   0   0   0   3   1   0   5   3
1010              0   0   0   1   0   0   0   0   0   0   0   0   0
1011              1   0   0   1   0   0   0   0   0   0   0   0   0
1012              5   1   0   0   1   1   0   2   2   0   0   0   2
1013              0   0   2   6   2   1   0   2   0   3   1   3   5
1014              0   0   0   0   0   2   0   0   0   0   2   0   0
1015              3   1   0   3   1   0   0   2   1   1   2   2   7
1016              0   1   3   4   5   1   0   1   0   4   0   0   5
1017              0   0   0   0   0   0   0   0   0   0   0   0   1
1018              2   1   0   0   0   0   0   0   1   0   1   0   0
1019              0   0   0   0   0   0   0   0   0   0   0   0   1
1020              1   0   0   0   0   0   0   1   0   0   1   0   2
1021              2   0   1   2   0   2   0   0   2   1   3   1   5
1022              3   3   0   1   1   0   0   0   0   2   2   2   5
1023              1   2   0   0   0   0   0   0   0   0   0   0   1
1024              0   0   0   0   1   0   0   0   0   0   0   0   1
1025              0   0   0   0   0   0   0   0   0   0   0   0   1
1026              0   0   0   0   1   0   0   0   0   0   0   0   0
1027              6   1   0   1   5   2   0   5   2   0   1   0   0
1028              7  10   4   1   9   6   0   2   5   7   6   4   4
1029              1   0   0   0   0   0   0   0   0   0   0   1   5
...             ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
18367             2   0   0   0   0   0   0   0   0   0   0   0   0
18368             1   0   0   0   0   0   0   0   0   0   0   0   0
18369             0   1   0   0   0   0   0   0   0   1   0   1   0
18370            39  23  20  53  34  68   3  40  48  31  32  32  53
18371             3   0   1   0   0   0   0   1   3   0   0   1   2
18372             1   0   0   0   0   0   0   0   0   0   0   0   0
18373             5   1   1   1   1   1   0   2   2   1   5   0   4
18374             2   0   2   0   2   0   0   0   1   3   1   1   5
18375           110  51  42  28  23  48   1  37  21  30  22  49  95
18376             2   2   3   4  13   1   0   2   3   4   2   7   5
18377             0   0   6   7  13   2   0   4   1   3   0   1   2
18378             0   3   0   2   0   0   0   4   1   2   3   0   0
18379             0   0   0   0   0   0   0   0   0   0   0   0   2
18380             0   0   0   2   0   0   0   0   0   0   0   0   0
18381             0   0   0   0   0   0   0   0   0   0   0   0   1
18382             0   0   0   0   0   0   0   0   2   0   0   1   0
18383             2   1   1   1   1   1   0   2   1   1   3   3   1
18384             1   3   2   4   0   0   0   0   4   2   1   2   4
18385             4  10   6   5   5  10   0   3   4   3   3   4   4
18387             2   0   2   0   1   1   0   1   4   3   0   3   2
18388             1   0   0   0   0   0   0   0   0   0   0   0   0
18389             0   0   0   0   0   0   0   0   0   0   0   0   1
18390             6  12  14   4  13  15   0   2   2   0   0   0   1
18391             0   0   1   0   0   0   0   2   0   0   1   0   0
18392             0   0   0   0   0   0   0   0   0   0   0   0   1
18393             1   1   0   1   0   0   0   2   1   1   0   0   1
18394             0   0   0   0   0   0   0   1   0   0   0   0   0
18395             1   1   2   3   4   0   0   4   0   0   1   2   4
18396             1   0   0   0   0   0   0   1   0   0   0   1   3
18397             0   0   0   0   0   0   0   0   0   1   0   0   0

[17091 rows x 13 columns]

In [34]:
len(test)

506691

In [41]:
len(train) + len(test)

1097231

In [38]:
df.iloc[:len(train)]

,TransactionAmt,card1,dist1,dist2,f202__date_block,date_block_num,card1_count_lag1,card1_counts__lag1,card1_counts__lag2,card1_counts__lag3,card1_counts__lag6
0,68.500000,13926,19.0,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
1,29.000000,2755,NaN,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
2,59.000000,4663,287.0,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
3,50.000000,18132,NaN,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
4,50.000000,4497,NaN,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
5,49.000000,5937,36.0,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
6,159.000000,12308,0.0,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
7,422.500000,12695,NaN,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
8,15.000000,2803,NaN,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
9,117.000000,17399,19.0,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
10,75.887001,16496,NaN,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
11,16.495001,4461,NaN,30.0,201712,0,0.0,NaN,NaN,NaN,NaN
12,50.000000,3786,NaN,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
13,40.000000,12866,NaN,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
14,10.500000,11839,NaN,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
15,57.950001,7055,3.0,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
16,30.000000,1790,NaN,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
17,100.000000,11492,NaN,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
18,47.950001,4663,5.0,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
19,186.000000,7005,NaN,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
20,39.000000,7875,0.0,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
21,159.949997,11401,NaN,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
22,50.000000,1724,NaN,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
23,107.949997,2392,4.0,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
24,73.949997,10112,NaN,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
25,107.949997,15385,NaN,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
26,184.000000,17868,NaN,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
27,47.950001,11307,17.0,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
28,20.000000,8431,NaN,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
29,36.990002,12932,NaN,NaN,201712,0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
590510,24.500000,9500,NaN,NaN,201806,6,0.0,2308.0,2308.0,2308.0,2308.0
590511,130.949997,12059,1.0,NaN,201806,6,0.0,2.0,2.0,2.0,2.0
590512,764.000000,16873,NaN,NaN,201806,6,0.0,29.0,29.0,29.0,29.0
590513,107.949997,2198,3.0,NaN,201806,6,0.0,1.0,1.0,1.0,1.0
590514,159.949997,2487,1917.0,NaN,201806,6,0.0,6.0,6.0,6.0,6.0
590515,108.500000,4219,49.0,NaN,201806,6,0.0,14.0,14.0,14.0,14.0
590516,760.760010,17188,21.0,NaN,201806,6,0.0,1624.0,1624.0,1624.0,1624.0
590517,764.000000,16873,NaN,NaN,201806,6,0.0,29.0,29.0,29.0,29.0
590518,49.000000,11204,29.0,NaN,201806,6,0.0,60.0,60.0,60.0,60.0
590519,1659.949951,18018,NaN,NaN,201806,6,0.0,266.0,266.0,266.0,266.0
590520,93.000000,17150,4.0,NaN,201806,6,0.0,10.0,10.0,10.0,10.0
590521,48.876999,12019,NaN,0.0,201806,6,0.0,1.0,1.0,1.0,1.0
590522,54.500000,3166,2.0,NaN,201806,6,0.0,72.0,72.0,72.0,72.0
590523,58.950001,13076,NaN,NaN,201806,6,0.0,23.0,23.0,23.0,23.0
590524,75.000000,7826,NaN,NaN,201806,6,0.0,476.0,476.0,476.0,476.0
590525,57.950001,11942,12.0,NaN,201806,6,0.0,33.0,33.0,33.0,33.0
590526,250.000000,1214,NaN,NaN,201806,6,0.0,61.0,61.0,61.0,61.0
590527,189.949997,6453,NaN,NaN,201806,6,0.0,9.0,9.0,9.0,9.0
590528,279.950012,15066,NaN,NaN,201806,6,0.0,1275.0,1275.0,1275.0,1275.0
590529,73.837997,5096,NaN,NaN,201806,6,0.0,0.0,0.0,0.0,0.0
590530,400.779999,15066,NaN,NaN,201806,6,0.0,1275.0,1275.0,1275.0,1275.0
590531,400.000000,6019,NaN,2296.0,201806,6,0.0,819.0,819.0,819.0,819.0
590532,204.970001,12037,NaN,NaN,201806,6,0.0,81.0,81.0,81.0,81.0
590533,107.949997,13071,152.0,NaN,201806,6,0.0,3.0,3.0,3.0,3.0
590534,67.504997,5812,NaN,NaN,201806,6,0.0,427.0,427.0,427.0,427.0
590535,49.000000,6550,48.0,NaN,201806,6,0.0,235.0,235.0,235.0,235.0
590536,39.500000,10444,NaN,NaN,201806,6,0.0,4.0,4.0,4.0,4.0
590537,30.950001,12037,NaN,NaN,201806,6,0.0,81.0,81.0,81.0,81.0
590538,117.000000,7826,3.0,NaN,201806,6,0.0,476.0,476.0,476.0,476.0
590539,279.950012,15066,NaN,NaN,201806,6,0.0,1275.0,1275.0,1275.0,1275.0

In [39]:
df.iloc[len(train):]

,TransactionAmt,card1,dist1,dist2,f202__date_block,date_block_num,card1_count_lag1,card1_counts__lag1,card1_counts__lag2,card1_counts__lag3,card1_counts__lag6
0,31.950001,10409,1.0,NaN,201807,7,0.0,1.0,1.0,1.0,1.0
1,49.000000,4272,4.0,NaN,201807,7,0.0,4.0,4.0,4.0,4.0
2,171.000000,4476,2635.0,NaN,201807,7,0.0,0.0,0.0,0.0,0.0
3,284.950012,10989,17.0,NaN,201807,7,0.0,6.0,6.0,6.0,6.0
4,67.949997,18018,6.0,NaN,201807,7,0.0,11.0,11.0,11.0,11.0
5,57.950001,12839,NaN,NaN,201807,7,0.0,16.0,16.0,16.0,16.0
6,87.000000,16560,NaN,NaN,201807,7,0.0,16.0,16.0,16.0,16.0
7,390.000000,15066,303.0,NaN,201807,7,0.0,46.0,46.0,46.0,46.0
8,103.949997,2803,3.0,NaN,201807,7,0.0,33.0,33.0,33.0,33.0
9,117.000000,12544,8.0,NaN,201807,7,0.0,48.0,48.0,48.0,48.0
10,261.950012,16982,NaN,NaN,201807,7,0.0,0.0,0.0,0.0,0.0
11,107.949997,9500,NaN,NaN,201807,7,0.0,71.0,71.0,71.0,71.0
12,335.000000,18366,15.0,NaN,201807,7,0.0,0.0,0.0,0.0,0.0
13,107.949997,6900,NaN,NaN,201807,7,0.0,1.0,1.0,1.0,1.0
14,117.000000,12686,NaN,NaN,201807,7,0.0,8.0,8.0,8.0,8.0
15,57.950001,7826,NaN,NaN,201807,7,0.0,21.0,21.0,21.0,21.0
16,57.950001,8489,NaN,NaN,201807,7,0.0,0.0,0.0,0.0,0.0
17,29.000000,12544,NaN,NaN,201807,7,0.0,48.0,48.0,48.0,48.0
18,49.000000,16560,NaN,NaN,201807,7,0.0,16.0,16.0,16.0,16.0
19,77.000000,12839,10.0,NaN,201807,7,0.0,16.0,16.0,16.0,16.0
20,445.000000,7919,NaN,NaN,201807,7,0.0,7.0,7.0,7.0,7.0
21,209.949997,15066,NaN,NaN,201807,7,0.0,46.0,46.0,46.0,46.0
22,554.000000,16338,0.0,NaN,201807,7,0.0,0.0,0.0,0.0,0.0
23,117.000000,6530,NaN,NaN,201807,7,0.0,1.0,1.0,1.0,1.0
24,131.000000,10752,NaN,NaN,201807,7,0.0,0.0,0.0,0.0,0.0
25,77.000000,17188,6.0,NaN,201807,7,0.0,46.0,46.0,46.0,46.0
26,209.949997,15066,NaN,NaN,201807,7,0.0,46.0,46.0,46.0,46.0
27,141.000000,11839,1.0,NaN,201807,7,0.0,14.0,14.0,14.0,14.0
28,117.000000,6530,NaN,NaN,201807,7,0.0,1.0,1.0,1.0,1.0
29,34.000000,14991,9.0,NaN,201807,7,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
506661,49.000000,12386,NaN,NaN,201812,12,4.0,4.0,4.0,4.0,4.0
506662,280.000000,2440,NaN,NaN,201812,12,0.0,0.0,0.0,0.0,0.0
506663,107.949997,12866,66.0,NaN,201812,12,94.0,94.0,94.0,94.0,94.0
506664,186.000000,5137,153.0,NaN,201812,12,4.0,4.0,4.0,4.0,4.0
506665,20.903000,4461,NaN,NaN,201812,12,624.0,624.0,624.0,624.0,624.0
506666,73.000000,4702,NaN,NaN,201812,12,39.0,39.0,39.0,39.0,39.0
506667,77.000000,7690,9.0,NaN,201812,12,43.0,43.0,43.0,43.0,43.0
506668,67.949997,17399,8.0,NaN,201812,12,226.0,226.0,226.0,226.0,226.0
506669,77.000000,1675,13.0,NaN,201812,12,299.0,299.0,299.0,299.0,299.0
506670,142.018997,4461,NaN,185.0,201812,12,624.0,624.0,624.0,624.0,624.0
506671,107.949997,10023,NaN,NaN,201812,12,306.0,306.0,306.0,306.0,306.0
506672,59.000000,1675,NaN,NaN,201812,12,299.0,299.0,299.0,299.0,299.0
506673,19.500000,5561,11.0,NaN,201812,12,3.0,3.0,3.0,3.0,3.0
506674,31.355000,16136,NaN,NaN,201812,12,704.0,704.0,704.0,704.0,704.0
506675,7.009000,2650,NaN,NaN,201812,12,134.0,134.0,134.0,134.0,134.0
506676,15.493000,18250,NaN,NaN,201812,12,7.0,7.0,7.0,7.0,7.0
506677,7.009000,15885,NaN,814.0,201812,12,2204.0,2204.0,2204.0,2204.0,2204.0
506678,25.950001,7069,NaN,NaN,201812,12,64.0,64.0,64.0,64.0,64.0
506679,82.383003,2275,NaN,NaN,201812,12,7.0,7.0,7.0,7.0,7.0
506680,56.131001,5812,NaN,206.0,201812,12,773.0,773.0,773.0,773.0,773.0
506681,10.452000,5812,NaN,NaN,201812,12,773.0,773.0,773.0,773.0,773.0
506682,68.500000,7690,9.0,NaN,201812,12,43.0,43.0,43.0,43.0,43.0
506683,67.949997,12544,0.0,NaN,201812,12,850.0,850.0,850.0,850.0,850.0
506684,13.403000,3154,NaN,7.0,201812,12,896.0,896.0,896.0,896.0,896.0
506685,50.000000,9002,NaN,NaN,201812,12,162.0,162.0,162.0,162.0,162.0
506686,94.679001,13832,NaN,NaN,201812,12,472.0,472.0,472.0,472.0,472.0
506687,12.173000,3154,NaN,157.0,201812,12,896.0,896.0,896.0,896.0,896.0
506688,49.000000,16661,NaN,NaN,201812,12,87.0,87.0,87.0,87.0,87.0
506689,202.000000,16621,NaN,NaN,201812,12,3.0,3.0,3.0,3.0,3.0
506690,24.346001,5713,NaN,NaN,201812,12,13.0,13.0,13.0,13.0,13.0

In [42]:
feather.read_dataframe('../feature/f203__test__numeric_lag.ftr')

,f203__index,f203__date_block_num,f203__TransactionAmt_min__lag1,f203__TransactionAmt_mean__lag1,f203__TransactionAmt_max__lag1,f203__TransactionAmt_std__lag1,f203__dist1_min__lag1,f203__dist1_mean__lag1,f203__dist1_max__lag1,f203__dist1_std__lag1,...,f203__TransactionAmt_max__lag6,f203__TransactionAmt_std__lag6,f203__dist1_min__lag6,f203__dist1_mean__lag6,f203__dist1_max__lag6,f203__dist1_std__lag6,f203__dist2_min__lag6,f203__dist2_mean__lag6,f203__dist2_max__lag6,f203__dist2_std__lag6
0,590540,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
1,590541,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
2,590542,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
3,590543,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
4,590544,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
5,590545,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
6,590546,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
7,590547,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
8,590548,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
9,590549,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
10,590550,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
11,590551,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
12,590552,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
13,590553,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
14,590554,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
15,590555,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
16,590556,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
17,590557,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
18,590558,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
19,590559,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
20,590560,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
21,590561,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
22,590562,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
23,590563,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
24,590564,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
25,590565,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
26,590566,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
27,590567,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
28,590568,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
29,590569,7,1.001,171.459625,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,...,5278.950195,228.731796,0.0,134.430771,6818.0,405.398346,0.0,258.679382,6915.0,559.944946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506661,1097201,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506662,1097202,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506663,1097203,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506664,1097204,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506665,1097205,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506666,1097206,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506667,1097207,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506668,1097208,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506669,1097209,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506670,1097210,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506671,1097211,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506672,1097212,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506673,1097213,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506674,1097214,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506675,1097215,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506676,1097216,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506677,1097217,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506678,1097218,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506679,1097219,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506680,1097220,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506681,1097221,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506682,1097222,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506683,1097223,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506684,1097224,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506685,1097225,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506686,1097226,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506687,1097227,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506688,1097228,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506689,1097229,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959
506690,1097230,12,0.849,136.095917,6222.000000,250.513763,0.0,83.982407,5000.0,302.039581,...,3163.939941,316.236938,0.0,116.683731,2751.0,351.194336,0.0,117.798447,2296.0,269.476959

In [40]:
len(feather.read_dataframe('../feature/f203__test__numeric_lag.ftr'))

590540

In [36]:
len(feather.read_dataframe('../feature/f203__train__numeric_lag.ftr'))

590540