In [1]:
import os
os.chdir('../py')

import pandas as pd
import numpy as np
import feather

from glob import glob

import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams["patch.force_edgecolor"] = False
plt.rcParams['font.family'] = 'Ricty Diminised'
sns.set(style="whitegrid", font='Ricty Diminised', palette="muted", color_codes=True, rc={'grid.linestyle': '--'})
red = sns.xkcd_rgb["light red"]
green = sns.xkcd_rgb["medium green"]
blue = sns.xkcd_rgb["denim blue"]

import japanize_matplotlib

from sklearn.cluster import KMeans
from sklearn.model_selection import KFold, StratifiedKFold, GroupKFold
from sklearn.preprocessing import LabelEncoder

# my modules
import EDA
import utils

In [42]:
DIR = '../input/feather/'

train = feather.read_dataframe(DIR + 'train.ftr')
test  = feather.read_dataframe(DIR + 'test.ftr')

In [50]:
tmp = train.groupby('ProductCD')['isFraud'].agg(['mean']).reset_index()

In [55]:
tmp.index = tmp['ProductCD'].values

In [56]:
tmp

  ProductCD      mean
C         C  0.116873
H         H  0.047662
R         R  0.037826
S         S  0.058996
W         W  0.020399

In [57]:
tmp['mean'].to_dict()

{'C': 0.11687269224594637,
 'H': 0.04766230620155039,
 'R': 0.03782593702750736,
 'S': 0.058995528035775714,
 'W': 0.020399390451929858}

In [58]:
list(train)

['TransactionID',
 'isFraud',
 'TransactionDT',
 'TransactionAmt',
 'ProductCD',
 'card1',
 'card2',
 'card3',
 'card4',
 'card5',
 'card6',
 'addr1',
 'addr2',
 'dist1',
 'dist2',
 'P_emaildomain',
 'R_emaildomain',
 'C1',
 'C2',
 'C3',
 'C4',
 'C5',
 'C6',
 'C7',
 'C8',
 'C9',
 'C10',
 'C11',
 'C12',
 'C13',
 'C14',
 'D1',
 'D2',
 'D3',
 'D4',
 'D5',
 'D6',
 'D7',
 'D8',
 'D9',
 'D10',
 'D11',
 'D12',
 'D13',
 'D14',
 'D15',
 'M1',
 'M2',
 'M3',
 'M4',
 'M5',
 'M6',
 'M7',
 'M8',
 'M9',
 'V1',
 'V2',
 'V3',
 'V4',
 'V5',
 'V6',
 'V7',
 'V8',
 'V9',
 'V10',
 'V11',
 'V12',
 'V13',
 'V14',
 'V15',
 'V16',
 'V17',
 'V18',
 'V19',
 'V20',
 'V21',
 'V22',
 'V23',
 'V24',
 'V25',
 'V26',
 'V27',
 'V28',
 'V29',
 'V30',
 'V31',
 'V32',
 'V33',
 'V34',
 'V35',
 'V36',
 'V37',
 'V38',
 'V39',
 'V40',
 'V41',
 'V42',
 'V43',
 'V44',
 'V45',
 'V46',
 'V47',
 'V48',
 'V49',
 'V50',
 'V51',
 'V52',
 'V53',
 'V54',
 'V55',
 'V56',
 'V57',
 'V58',
 'V59',
 'V60',
 'V61',
 'V62',
 'V63',
 'V64',
 'V65',
 'V66',
 'V67',
 'V68',
 'V69',
 'V70',
 'V71',
 'V72',
 'V73',
 'V74',
 'V75',
 'V76',
 'V77',
 'V78',
 'V79',
 'V80',
 'V81',
 'V82',
 'V83',
 'V84',
 'V85',
 'V86',
 'V87',
 'V88',
 'V89',
 'V90',
 'V91',
 'V92',
 'V93',
 'V94',
 'V95',
 'V96',
 'V97',
 'V98',
 'V99',
 'V100',
 'V101',
 'V102',
 'V103',
 'V104',
 'V105',
 'V106',
 'V107',
 'V108',
 'V109',
 'V110',
 'V111',
 'V112',
 'V113',
 'V114',
 'V115',
 'V116',
 'V117',
 'V118',
 'V119',
 'V120',
 'V121',
 'V122',
 'V123',
 'V124',
 'V125',
 'V126',
 'V127',
 'V128',
 'V129',
 'V130',
 'V131',
 'V132',
 'V133',
 'V134',
 'V135',
 'V136',
 'V137',
 'V138',
 'V139',
 'V140',
 'V141',
 'V142',
 'V143',
 'V144',
 'V145',
 'V146',
 'V147',
 'V148',
 'V149',
 'V150',
 'V151',
 'V152',
 'V153',
 'V154',
 'V155',
 'V156',
 'V157',
 'V158',
 'V159',
 'V160',
 'V161',
 'V162',
 'V163',
 'V164',
 'V165',
 'V166',
 'V167',
 'V168',
 'V169',
 'V170',
 'V171',
 'V172',
 'V173',
 'V174',
 'V175',
 'V176',
 'V177',
 'V178',
 'V179',
 'V180',
 'V181',
 'V182',
 'V183',
 'V184',
 'V185',
 'V186',
 'V187',
 'V188',
 'V189',
 'V190',
 'V191',
 'V192',
 'V193',
 'V194',
 'V195',
 'V196',
 'V197',
 'V198',
 'V199',
 'V200',
 'V201',
 'V202',
 'V203',
 'V204',
 'V205',
 'V206',
 'V207',
 'V208',
 'V209',
 'V210',
 'V211',
 'V212',
 'V213',
 'V214',
 'V215',
 'V216',
 'V217',
 'V218',
 'V219',
 'V220',
 'V221',
 'V222',
 'V223',
 'V224',
 'V225',
 'V226',
 'V227',
 'V228',
 'V229',
 'V230',
 'V231',
 'V232',
 'V233',
 'V234',
 'V235',
 'V236',
 'V237',
 'V238',
 'V239',
 'V240',
 'V241',
 'V242',
 'V243',
 'V244',
 'V245',
 'V246',
 'V247',
 'V248',
 'V249',
 'V250',
 'V251',
 'V252',
 'V253',
 'V254',
 'V255',
 'V256',
 'V257',
 'V258',
 'V259',
 'V260',
 'V261',
 'V262',
 'V263',
 'V264',
 'V265',
 'V266',
 'V267',
 'V268',
 'V269',
 'V270',
 'V271',
 'V272',
 'V273',
 'V274',
 'V275',
 'V276',
 'V277',
 'V278',
 'V279',
 'V280',
 'V281',
 'V282',
 'V283',
 'V284',
 'V285',
 'V286',
 'V287',
 'V288',
 'V289',
 'V290',
 'V291',
 'V292',
 'V293',
 'V294',
 'V295',
 'V296',
 'V297',
 'V298',
 'V299',
 'V300',
 'V301',
 'V302',
 'V303',
 'V304',
 'V305',
 'V306',
 'V307',
 'V308',
 'V309',
 'V310',
 'V311',
 'V312',
 'V313',
 'V314',
 'V315',
 'V316',
 'V317',
 'V318',
 'V319',
 'V320',
 'V321',
 'V322',
 'V323',
 'V324',
 'V325',
 'V326',
 'V327',
 'V328',
 'V329',
 'V330',
 'V331',
 'V332',
 'V333',
 'V334',
 'V335',
 'V336',
 'V337',
 'V338',
 'V339',
 'id_01',
 'id_02',
 'id_03',
 'id_04',
 'id_05',
 'id_06',
 'id_07',
 'id_08',
 'id_09',
 'id_10',
 'id_11',
 'id_12',
 'id_13',
 'id_14',
 'id_15',
 'id_16',
 'id_17',
 'id_18',
 'id_19',
 'id_20',
 'id_21',
 'id_22',
 'id_23',
 'id_24',
 'id_25',
 'id_26',
 'id_27',
 'id_28',
 'id_29',
 'id_30',
 'id_31',
 'id_32',
 'id_33',
 'id_34',
 'id_35',
 'id_36',
 'id_37',
 'id_38',
 'DeviceType',
 'DeviceInfo']

In [6]:
drop_col = [col for col in train.columns if not 'card' in col]

In [8]:
drop_col.remove('isFraud')

In [9]:
train.drop(columns=drop_col, inplace=True)
test.drop(columns=drop_col, inplace=True)

In [11]:
train.isnull().sum()

isFraud       0
card1         0
card2      8933
card3      1565
card4      1577
card5      4259
card6      1571
dtype: int64

In [12]:
train['card4'] = train['card4'].astype('category')

In [16]:
train['card6'].dtype

dtype('O')

In [19]:
train['card4'].dtypes == 'category'

True

In [13]:
train.dtypes

isFraud        int8
card1         int16
card2       float32
card3       float32
card4      category
card5       float32
card6        object
dtype: object

In [10]:
train.head()

   isFraud  card1  card2  card3       card4  card5   card6
0        0  13926    NaN  150.0    discover  142.0  credit
1        0   2755  404.0  150.0  mastercard  102.0  credit
2        0   4663  490.0  150.0        visa  166.0   debit
3        0  18132  567.0  150.0  mastercard  117.0   debit
4        0   4497  514.0  150.0  mastercard  102.0  credit

In [22]:
for c in ['card1', 'card2', 'card3', 'card5']:
    train[c].fillna(-9999, inplace=True)
    train[c] = train[c].astype('object')

In [24]:
train['card4'] = train['card4'].astype('object')

In [26]:
train['full_card'] = train['card1'].astype('str') + train['card2'].astype('str') + train['card3'].astype('str') + train['card4'] + train['card5'].astype('str') + train['card6']

In [27]:
train.head()

,isFraud,card1,card2,card3,card4,card5,card6,full_card
0,0,13926,-9999,150,discover,142,credit,13926-9999.0150.0discover142.0credit
1,0,2755,404,150,mastercard,102,credit,2755404.0150.0mastercard102.0credit
2,0,4663,490,150,visa,166,debit,4663490.0150.0visa166.0debit
3,0,18132,567,150,mastercard,117,debit,18132567.0150.0mastercard117.0debit
4,0,4497,514,150,mastercard,102,credit,4497514.0150.0mastercard102.0credit

In [29]:
train['card1'].nunique()

13553

In [28]:
train['full_card'].nunique()

14210

In [32]:
train.head(20)

,isFraud,card1,card2,card3,card4,card5,card6,full_card
0,0,13926,-9999,150,discover,142,credit,13926-9999.0150.0discover142.0credit
1,0,2755,404,150,mastercard,102,credit,2755404.0150.0mastercard102.0credit
2,0,4663,490,150,visa,166,debit,4663490.0150.0visa166.0debit
3,0,18132,567,150,mastercard,117,debit,18132567.0150.0mastercard117.0debit
4,0,4497,514,150,mastercard,102,credit,4497514.0150.0mastercard102.0credit
5,0,5937,555,150,visa,226,debit,5937555.0150.0visa226.0debit
6,0,12308,360,150,visa,166,debit,12308360.0150.0visa166.0debit
7,0,12695,490,150,visa,226,debit,12695490.0150.0visa226.0debit
8,0,2803,100,150,visa,226,debit,2803100.0150.0visa226.0debit
9,0,17399,111,150,mastercard,224,debit,17399111.0150.0mastercard224.0debit
10,0,16496,352,117,mastercard,134,credit,16496352.0117.0mastercard134.0credit
11,0,4461,375,185,mastercard,224,debit,4461375.0185.0mastercard224.0debit
12,0,3786,418,150,visa,226,debit,3786418.0150.0visa226.0debit
13,0,12866,303,150,visa,226,debit,12866303.0150.0visa226.0debit
14,0,11839,490,150,visa,226,debit,11839490.0150.0visa226.0debit
15,0,7055,555,150,visa,226,debit,7055555.0150.0visa226.0debit
16,0,1790,555,150,visa,226,debit,1790555.0150.0visa226.0debit
17,0,11492,111,150,mastercard,219,credit,11492111.0150.0mastercard219.0credit
18,0,4663,490,150,visa,166,debit,4663490.0150.0visa166.0debit
19,0,7005,111,150,visa,226,debit,7005111.0150.0visa226.0debit

In [38]:
pd.Series(np.where(train['card1'].isin(train['card1'].value_counts()), train['card1'], np.nan)).unique()

array([nan, 1790, 1085, 3166, 1257, 1587, 6773, 1167, 1219, 1461, 7091,
       4209, 1767, 1183, 4614, 1567, 1308, 2686, 7945, 1110, 2632, 5172,
       1722, 1364, 6141, 6771, 5129, 2080, 1503, 2792, 2714, 3977, 1027,
       1523, 2067, 2578, 3748, 10361, 1429, 1998, 1277, 2604, 3929, 5334,
       4410, 1799, 1051, 1116, 1186, 1060, 2891, 10344, 2062, 1267, 2774,
       1651, 1013, 1321, 1008, 1569, 1112, 2818, 14932, 3873, 1024, 1383,
       1108, 2522, 2505, 1538, 3006, 1509, 1014, 1947], dtype=object)

In [ ]:
train['Prod']

In [41]:
train[train['card1'] == 1085]

,isFraud,card1,card2,card3,card4,card5,card6,full_card
205,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
2968,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
4265,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
5252,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
6411,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
7121,1,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
7123,1,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
7126,1,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
10669,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
11425,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
12161,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
12587,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
12600,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
20763,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
23259,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
23632,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
26727,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
28269,1,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
32339,1,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
33707,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
35636,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
35649,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
36287,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
37212,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
37323,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
38974,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
39000,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
39006,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
39010,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
39051,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
...,...,...,...,...,...,...,...,...
451587,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
460222,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
460241,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
460256,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
469033,1,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
469958,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
469959,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
470555,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
472581,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
474237,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
476176,1,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
492970,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
520896,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
520898,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
529880,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
530713,1,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
530718,1,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
555117,1,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
558314,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
559007,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
565903,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
566042,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
566046,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
566084,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
566092,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
566096,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
570216,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
572234,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
588002,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit
589542,0,1085,500,185,mastercard,219,credit,1085500.0185.0mastercard219.0credit

In [35]:
train['card1'].value_counts()

7919     14932
9500     14162
15885    10361
17188    10344
15066     7945
12695     7091
12544     6773
6019      6771
2803      6141
7585      5334
10616     5172
12839     5129
3154      4614
2616      4410
18132     4209
9633      4158
15497     3977
16132     3929
2884      3873
16075     3748
11207     3693
10112     3560
7508      3490
10057     3166
12501     3152
7826      3006
16659     2988
12577     2891
5812      2818
7664      2792
         ...
9111         1
9115         1
9123         1
9130         1
9140         1
9143         1
9145         1
9146         1
9031         1
9028         1
8923         1
9027         1
8934         1
8950         1
8957         1
8958         1
8967         1
8975         1
8979         1
8982         1
8990         1
8996         1
8999         1
9000         1
9001         1
9007         1
9012         1
9019         1
9024         1
1000         1
Name: card1, Length: 13553, dtype: int64

In [74]:
pd.read_pickle('../input/pickle/test_df.pkl').shape

(506691, 791)

In [72]:
EDA.max_disp(pd.read_pickle('../input/pickle/test_df.pkl').head())

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,dist1,dist2,P_emaildomain,R_emaildomain,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,D12,D13,D14,D15,M1,M2,M3,M4,M5,M6,M7,M8,M9,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30,V31,V32,V33,V34,V35,V36,V37,V38,V39,V40,V41,V42,V43,V44,V45,V46,V47,V48,V49,V50,V51,V52,V53,V54,V55,V56,V57,V58,V59,V60,V61,V62,V63,V64,V65,V66,V67,V68,V69,V70,V71,V72,V73,V74,V75,V76,V77,V78,V79,V80,V81,V82,V83,V84,V85,V86,V87,V88,V89,V90,V91,V92,V93,V94,V95,V96,V97,V98,V99,V100,V101,V102,V103,V104,V105,V106,V107,V108,V109,V110,V111,V112,V113,V114,V115,V116,V117,V118,V119,V120,V121,V122,V123,V124,V125,V126,V127,V128,V129,V130,V131,V132,V133,V134,V135,V136,V137,V138,V139,V140,V141,V142,V143,V144,V145,V146,V147,V148,V149,V150,V151,V152,V153,V154,V155,V156,V157,V158,V159,V160,V161,V162,V163,V164,V165,V166,V167,V168,V169,V170,V171,V172,V173,V174,V175,V176,V177,V178,V179,V180,V181,V182,V183,V184,V185,V186,V187,V188,V189,V190,V191,V192,V193,V194,V195,V196,V197,V198,V199,V200,V201,V202,V203,V204,V205,V206,V207,V208,V209,V210,V211,V212,V213,V214,V215,V216,V217,V218,V219,V220,V221,V222,V223,V224,V225,V226,V227,V228,V229,V230,V231,V232,V233,V234,V235,V236,V237,V238,V239,V240,V241,V242,V243,V244,V245,V246,V247,V248,V249,V250,V251,V252,V253,V254,V255,V256,V257,V258,V259,V260,V261,V262,V263,V264,V265,V266,V267,V268,V269,V270,V271,V272,V273,V274,V275,V276,V277,V278,V279,V280,V281,V282,V283,V284,V285,V286,V287,V288,V289,V290,V291,V292,V293,V294,V295,V296,V297,V298,V299,V300,V301,V302,V303,V304,V305,V306,V307,V308,V309,V310,V311,V312,V313,V314,V315,V316,V317,V318,V319,V320,V321,V322,V323,V324,V325,V326,V327,V328,V329,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339,DT,DT_M,DT_W,DT_D,DT_hour,DT_day_week,DT_day_month,is_december,is_holiday,DT_M_total,DT_W_total,DT_D_total,uid,uid2,uid3,uid4,uid5,card1_fq_enc,card2_fq_enc,card3_fq_enc,card5_fq_enc,uid_fq_enc,uid2_fq_enc,uid3_fq_enc,uid4_fq_enc,uid5_fq_enc,bank_type,card3_DT_D_hour_dist,card3_DT_W_week_day_dist,card3_DT_M_month_day_dist,card3_DT_D_hour_dist_best,card3_DT_W_week_day_dist_best,card3_DT_M_month_day_dist_best,card5_DT_D_hour_dist,card5_DT_W_week_day_dist,card5_DT_M_month_day_dist,card5_DT_D_hour_dist_best,card5_DT_W_week_day_dist_best,card5_DT_M_month_day_dist_best,bank_type_DT_D_hour_dist,bank_type_DT_W_week_day_dist,bank_type_DT_M_month_day_dist,bank_type_DT_D_hour_dist_best,bank_type_DT_W_week_day_dist_best,bank_type_DT_M_month_day_dist_best,bank_type_DT_M,bank_type_DT_W,bank_type_DT_D,uid_D1_mean,uid_D1_std,uid2_D1_mean,uid2_D1_std,uid3_D1_mean,uid3_D1_std,uid4_D1_mean,uid4_D1_std,uid5_D1_mean,uid5_D1_std,bank_type_D1_mean,bank_type_D1_std,uid_D2_mean,uid_D2_std,uid2_D2_mean,uid2_D2_std,uid3_D2_mean,uid3_D2_std,uid4_D2_mean,uid4_D2_std,uid5_D2_mean,uid5_D2_std,bank_type_D2_mean,bank_type_D2_std,uid_D3_mean,uid_D3_std,uid2_D3_mean,uid2_D3_std,uid3_D3_mean,uid3_D3_std,uid4_D3_mean,uid4_D3_std,uid5_D3_mean,uid5_D3_std,bank_type_D3_mean,bank_type_D3_std,uid_D4_mean,uid_D4_std,uid2_D4_mean,uid2_D4_std,uid3_D4_mean,uid3_D4_std,uid4_D4_mean,uid4_D4_std,uid5_D4_mean,uid5_D4_std,bank_type_D4_mean,bank_type_D4_std,uid_D5_mean,uid_D5_std,uid2_D5_mean,uid2_D5_std,uid3_D5_mean,uid3_D5_std,uid4_D5_mean,uid4_D5_std,uid5_D5_mean,uid5_D5_std,bank_type_D5_mean,bank_type_D5_std,uid_D6_mean,uid_D6_std,uid2_D6_mean,uid2_D6_std,uid3_D6_mean,uid3_D6_std,uid4_D6_mean,uid4_D6_std,uid5_D6_mean,uid5_D6_std,bank_type_D6_mean,bank_type_D6_std,uid_D7_mean,uid_D7_std,uid2_D7_mean,uid2_D7_std,uid3_D7_mean,uid3_D7_std,uid4_D7_mean,uid4_D7_std,uid5_D7_mean,uid5_D7_std,bank_type_D7_mean,bank_type_D7_std,uid_D8_mean,uid_D8_std,uid2_D8_mean,uid2_D8_std,uid3_D8_mean,uid3_D8_std,uid4_D8_mean,uid4_D8_std,uid5_D8_mean,uid5_D8_std,bank_type_D8_mean,bank_type_D8_std,uid_D9_mean,uid_D9_std,uid2_D9_mean,uid2_D9_std,uid3_D9_mean,uid3_D9_std,uid4_D9_mean,uid4_D9_std,uid5_D9_mean,uid5_D9_std,bank_type_D9_mean,bank_type_D9_std,uid_D10_mean,uid_D10_std,uid2_D10_mean,uid2_D10_std,uid3_D10_mean,uid3_D10_std,uid4_D10_mean,uid4_D10_std,uid5_D10_mean,uid5_D10_std,bank_type_D10_mean,bank_type_D10_std,uid_D11_mean,uid_D11_std,uid2_D11_mean,uid2_D11_std,uid3_D11_mean,uid3_D11_std,uid4_D11_mean,uid4_D11_std,uid5_D11_mean,uid5_D11_std,bank_type_D11_mean,bank_type_D11_std,uid_D12_mean,uid_D12_std,uid2_D12_mean,uid2_D12_std,uid3_D12_mean,uid3_D12_std,uid4_D12_mean,uid4_D12_std,uid5_D12_mean,uid5_D12_std,bank_type_D12_mean,bank_type_D12_std,uid_D13_mean,uid_D13_std,uid2_D13_mean,uid2_D13_std,uid3_D13_mean,uid3_D13_std,uid4_D13_mean,uid4_D13_std,uid5_D13_mean,uid5_D13_std,bank_type_D13_mean,bank_type_D13_std,uid_D14_mean,uid_D14_std,uid2_D14_mean,uid2_D14_std,uid3_D14_mean,uid3_D14_std,uid4_D14_mean,uid4_D14_std,uid5_D14_mean,uid5_D14_std,bank_type_D14_mean,bank_type_D14_std,uid_D15_mean,uid_D15_std,uid2_D15_mean,uid2_D15_std,uid3_D15_mean,uid3_D15_std,uid4_D15_mean,uid4_D15_std,uid5_D15_mean,uid5_D15_std,bank_type_D15_mean,bank_type_D15_std,D9_not_na,D8_not_same_day,D8_D9_decimal_dist,D3_DT_D_min_max,D3_DT_D_std_score,D4_DT_D_min_max,D4_DT_D_std_score,D5_DT_D_min_max,D5_DT_D_std_score,D6_DT_D_min_max,D6_DT_D_std_score,D7_DT_D_min_max,D7_DT_D_std_score,D8_DT_D_min_max,D8_DT_D_std_score,D10_DT_D_min_max,D10_DT_D_std_score,D11_DT_D_min_max,D11_DT_D_std_score,D12_DT_D_min_max,D12_DT_D_std_score,D13_DT_D_min_max,D13_DT_D_std_score,D14_DT_D_min_max,D14_DT_D_std_score,D15_DT_D_min_max,D15_DT_D_std_score,D3_DT_W_min_max,D3_DT_W_std_score,D4_DT_W_min_max,D4_DT_W_std_score,D5_DT_W_min_max,D5_DT_W_std_score,D6_DT_W_min_max,D6_DT_W_std_score,D7_DT_W_min_max,D7_DT_W_std_score,D8_DT_W_min_max,D8_DT_W_std_score,D10_DT_W_min_max,D10_DT_W_std_score,D11_DT_W_min_max,D11_DT_W_std_score,D12_DT_W_min_max,D12_DT_W_std_score,D13_DT_W_min_max,D13_DT_W_std_score,D14_DT_W_min_max,D14_DT_W_std_score,D15_DT_W_min_max,D15_DT_W_std_score,D3_DT_M_min_max,D3_DT_M_std_score,D4_DT_M_min_max,D4_DT_M_std_score,D5_DT_M_min_max,D5_DT_M_std_score,D6_DT_M_min_max,D6_DT_M_std_score,D7_DT_M_min_max,D7_DT_M_std_score,D8_DT_M_min_max,D8_DT_M_std_score,D10_DT_M_min_max,D10_DT_M_std_score,D11_DT_M_min_max,D11_DT_M_std_score,D12_DT_M_min_max,D12_DT_M_std_score,D13_DT_M_min_max,D13_DT_M_std_score,D14_DT_M_min_max,D14_DT_M_std_score,D15_DT_M_min_max,D15_DT_M_std_score,D1_scaled,D2_scaled,TransactionAmt_check,card1_TransactionAmt_mean,card1_TransactionAmt_std,card2_TransactionAmt_mean,card2_TransactionAmt_std,card3_TransactionAmt_mean,card3_TransactionAmt_std,card5_TransactionAmt_mean,card5_TransactionAmt_std,uid_TransactionAmt_mean,uid_TransactionAmt_std,uid2_TransactionAmt_mean,uid2_TransactionAmt_std,uid3_TransactionAmt_mean,uid3_TransactionAmt_std,uid4_TransactionAmt_mean,uid4_TransactionAmt_std,uid5_TransactionAmt_mean,uid5_TransactionAmt_std,bank_type_TransactionAmt_mean,bank_type_TransactionAmt_std,TransactionAmt_DT_D_min_max,TransactionAmt_DT_D_std_score,TransactionAmt_DT_W_min_max,TransactionAmt_DT_W_std_score,TransactionAmt_DT_M_min_max,TransactionAmt_DT_M_std_score,product_type,product_type_DT_D,product_type_DT_W,product_type_DT_M,C1_fq_enc,C2_fq_enc,C3_fq_enc,C4_fq_enc,C5_fq_enc,C6_fq_enc,C7_fq_enc,C8_fq_enc,C9_fq_enc,C10_fq_enc,C11_fq_enc,C12_fq_enc,C13_fq_enc,C14_fq_enc,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,id_10,id_11,id_12,id_13,id_14,id_15,id_16,id_17,id_18,id_19,id_20,id_21,id_22,id_23,id_24,id_25,id_26,id_27,id_28,id_29,id_30,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo,id_33_0,id_33_1,DeviceInfo_device,DeviceInfo_version,id_30_device,id_30_version,id_31_device
0,3488214,0,13132810,4.690774,0.02082,1284.0,490.0,150.0,719649.0,226.0,824959.0,264.0,87.0,8.0,NaN,54,49,28.0,17.0,0.0,0.0,17.0,18.0,0.0,0.0,24.0,0.0,17.0,0.0,158.0,24.0,191,172,7691,100,5864,442012,472553,439764,439764,96,109,449687,451857,451625,157,1.0,1.0,1.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,4.0,1.0,0.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,431.799988,107.949997,0.0,431.75,107.9375,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,4.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,431.799988,107.949997,0.0,431.75,0.0,107.9375,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-05-01 00:00:10,17,70,486,0,1,1,0,0,89326,18970,3896,1067,1117,5295,13322,8766,314,32342,446159,254112,312,312,292,91,267,258,-13.851913,-2.213121,-14.386812,-16.0,0.0,0.0,-13.485608,-2.278039,-14.518462,-15.0,0.0,0.0,-13.503562,-2.272308,-14.51162,-15,0,0,0.4822,0.479705,0.468429,127.312500,186.12500,127.312500,186.12500,135.12500,189.87500,123.062500,164.250000,145.37500,193.625,108.75,166.375,208.12500,200.87500,208.12500,200.87500,215.87500,201.62500,167.00000,173.7500,215.87500,202.50000,185.0,180.125,26.8125,63.37500,26.8125,63.37500,27.734375,64.562500,25.640625,71.50000,28.015625,64.875000,28.234375,60.65625,224.750,239.750,224.750,239.750,236.125,241.625,250.000,246.875,241.375,241.750,162.5,199.25,38.28125,72.9375,38.28125,72.9375,39.09375,74.0625,35.46875,69.3750,39.75000,74.6250,42.15625,87.0625,0.00000,0.000,0.00000,0.000,0.000000,0.0000,NaN,NaN,NaN,NaN,124.5625,211.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.1875,138.375,116.5625,195.375,116.5625,195.375,123.0625,199.000,NaN,NaN,5.054688,1.46875,190.25,inf,0.585449,0.294189,0.585449,0.294189,0.611328,0.280029,NaN,NaN,0.388916,0.312744,0.583496,0.304199,219.750,240.750,219.750,240.750,231.1250,242.375,261.2500,255.500,232.8750,242.375,148.5,191.0,245.750,231.000,245.750,231.000,257.5000,231.250,198.500,238.625,257.5000,231.250,153.75,188.125,0.000,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.5625,73.5,0.0000,NaN,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.34375,115.875,0.00000,0.000,0.00000,0.000,0.000000,0.000000,NaN,NaN,NaN,NaN,69.375,164.625,258.250,241.125,258.250,241.125,270.250,241.50,268.000,253.375,275.250,241.000,190.625,207.875,0,0,NaN,0.010471,-0.441208,0.776543,2.098565,0.008439,-0.437349,NaN,NaN,NaN,NaN,0.0,-0.14623,0.742621,2.192614,0.888199,1.880442,NaN,NaN,NaN,NaN,NaN,NaN,0.742621,1.826961,0.009245,-0.377061,0.776543,2.223018,0.008439,-0.417717,NaN,NaN,NaN,NaN,0.0,-0.161402,0.742621,2.361012,0.886822,1.964586,NaN,NaN,NaN,NaN,NaN,NaN,0.739130,1.946704,0.007326,-0.334715,0.723820,2.205273,0.007895,-0.389600,NaN,NaN,NaN,NaN,0.0,-0.177768,0.718037,2.363052,0.853731,1.945845,NaN,NaN,NaN,NaN,NaN,NaN,0.715586,1.943214,0.501465,0.501465,1,135.890869,222.358139,133.108475,204.958313,146.593918,242.416626,141.30014,234.852036,136.529800,222.925827,136.529800,222.925827,138.687225,229.501404,132.808548,207.738724,144.856445,238.649765,144.741623,238.276352,0.033814,-0.140041,0.023445,-0.130222,0.021490,-0.118596,19800,0.059548,0.048550,0.043918,154,580,504638,383134,215,256,448052,378593,138,383660,297,422948,30,137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,377418,377418,NaN,377418,NaN,NaN,NaN,NaN,NaN,2,377418,NaN,NaN,377418,377418,377418,377418,377418
1,3488215,0,13132826,4.727388,0.02082,12932.0,361.0,150.0,719649.0,226.0,824959.0,126.0,87.0,NaN,NaN,16,49,3.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,1.0,1.0,245992,245522,230398,145370,56739,442012,472553,439764,439764,191935,95176,449687,451857,451625,152366,1.0,1.0,1.0,0.03798,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,3.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,3.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,2.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,3.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,0.0,0.0,0.0,2.0,2.0,2.0,0.0,0.0,0.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,3.0,3.0,224.0,224.000000,224.000000,0.0,0.00,0.0000,224.0,224.0,224.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000,0.000000,0.0,0.00,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-05-01 00:00:26,17,70,486,0,1,1,0,0,89326,18970,3896,1099,1149,5443,13624,8994,1603,6614,446159,254112,1596,1596,299,116,280,258,-13.851913,-2.213121,-14.386812,-16.0,0.0,0.0,-13.485608,-2.278039,-14.518462,-15.0,0.0,0.0,-13.503562,-2.272308,-14.51162,-15,0,0,0.4822,0.479705,0.468429,20.390625,35.53125,20.390625,35.53125,19.71875,32.71875,13.757812,31.953125,20.96875,33.375,108.75,166.375,32.34375,37.09375,32.34375,37.09375,40.28125,37.09375,40.53125,44.4375,40.28125,37.09375,185.0,180.125,9.8125,19.21875,9.8125,19.21875,10.000000,19.328125,10.304688,16.00000,10.000000,19.328125,28.234375,60.65625,133.375,183.875,133.375,183.875,128.375,194.875,91.125,164.625,128.375,194.875,162.5,199.25,46.68750,100.5625,46.68750,100.5625,47.18750,96.6250,63.56250,118.9375,47.18750,96.6250,42.15625,87.0625,0.00000,0.000,0.00000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,124.5625,211.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.1875,138.375,149.8750,inf,149.8750,inf,146.5000,inf,191.625,inf,80.875000,NaN,190.25,inf,0.607422,0.332764,0.607422,0.332764,0.737305,0.363770,0.798828,0.371338,0.875000,NaN,0.583496,0.304199,122.125,182.250,122.125,182.250,111.3125,165.250,101.0625,180.125,111.3125,165.250,148.5,191.0,134.875,179.000,134.875,179.000,109.8125,162.375,121.125,185.000,109.8125,162.375,153.75,188.125,0.000,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,20.5625,73.5,0.0000,0.000000,0.0000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,43.34375,115.875,0.00000,0.000,0.00000,0.000,0.000000,NaN,0.000000,NaN,0.0,NaN,69.375,164.625,162.125,198.000,162.125,198.000,150.625,199.25,147.750,210.125,150.625,199.250,190.625,207.875,0,0,NaN,NaN,NaN,0.000000,-0.824077,0.000000,-0.501189,NaN,NaN,NaN,NaN,0.0,-0.14623,0.000000,-0.776349,0.000000,-0.884291,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,-0.907748,NaN,NaN,0.000000,-0.770835,0.000000,-0.482721,NaN,NaN,NaN,NaN,0.0,-0.161402,0.000000,-0.722100,0.000000,-0.834553,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,-0.856142,NaN,NaN,0.000000,-0.744772,0.000000,-0.455514,NaN,NaN,NaN,NaN,0.0,-0.177768,0.000000,-0.718741,0.000000,-0.827754,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,-0.832383,0.000000,NaN,1,125.143318,208.888031,148.810196,262.797333,146.593918,242.416626,141.30014,234.852036,125.326080,209.300964,125.326080,209.300964,151.772598,279.863251,134.480194,231.660721,156.160736,288.477478,144.741623,238.276352,0.035131,-0.122350,0.024345,-0.113326,0.022302,-0.102096,318,0.000770,0.000738,0.000593,43441,87883,504638,383134,323697,72732,448052,378593,64942,383660,336594,422948,175552,277116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,377418,377418,NaN,377418,NaN,NaN,NaN,NaN,NaN,2,377418,NaN,NaN,377418,377418,377418,377418,377418

In [64]:
pd.read_pickle('../input/pickle/train_df.pkl').head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_38,DeviceType,DeviceInfo,id_33_0,id_33_1,DeviceInfo_device,DeviceInfo_version,id_30_device,id_30_version,id_31_device
0,2987000,0,86400,4.241327,0.020820,13926.0,NaN,150.0,9524.0,142.0,...,NaN,2,377418,NaN,NaN,377418,377418,377418,377418,377418
1,2987001,0,86401,3.401197,0.020820,2755.0,404.0,150.0,347386.0,102.0,...,NaN,2,377418,NaN,NaN,377418,377418,377418,377418,377418
2,2987002,0,86469,4.094345,0.020820,4663.0,490.0,150.0,719649.0,166.0,...,NaN,2,377418,NaN,NaN,377418,377418,377418,377418,377418
3,2987003,0,86499,3.931826,0.020820,18132.0,567.0,150.0,347386.0,117.0,...,NaN,2,377418,NaN,NaN,377418,377418,377418,377418,377418
4,2987004,0,86506,3.931826,0.045116,4497.0,514.0,150.0,347386.0,102.0,...,1.0,1,9,2220.0,1080.0,304,9,5668,2686,1562

In [65]:
pd.read_pickle('../input/pickle/train_df.pkl').shape

(417559, 791)

In [73]:
pd.read_pickle('../input/pickle/test_df.pkl')['isFraud'].value_counts()

0    86212
1     3114
Name: isFraud, dtype: int64

In [63]:
feather.read_dataframe('../input/feather/test.ftr').shape

(506691, 433)

In [71]:
feather.read_dataframe('../input/feather/test.ftr').head()

,TransactionID,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,3663549,18403224,31.950001,W,10409,111.0,150.0,visa,226.0,debit,...,None,NaN,None,None,None,None,None,None,None,None
1,3663550,18403263,49.000000,W,4272,111.0,150.0,visa,226.0,debit,...,None,NaN,None,None,None,None,None,None,None,None
2,3663551,18403310,171.000000,W,4476,574.0,150.0,visa,226.0,debit,...,None,NaN,None,None,None,None,None,None,None,None
3,3663552,18403310,284.950012,W,10989,360.0,150.0,visa,166.0,debit,...,None,NaN,None,None,None,None,None,None,None,None
4,3663553,18403317,67.949997,W,18018,452.0,150.0,mastercard,117.0,debit,...,None,NaN,None,None,None,None,None,None,None,None

In [66]:
pd.read_csv('../input/sample_submission.csv.zip').shape

(506691, 2)

In [67]:
pd.read_csv('../input/sample_submission.csv.zip').head()

   TransactionID  isFraud
0        3663549      0.5
1        3663550      0.5
2        3663551      0.5
3        3663552      0.5
4        3663553      0.5

In [68]:
feather.read_dataframe('../input/feather/train.ftr').shape

(590540, 434)

In [69]:
417559 + 89326

506885